# VCS & tooling
.git
.gcloudignore
.github/
.vscode/
.idea/

# Python noise
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.coverage

# Envs & creds
.env
.env.*
.venv/
venv/

# OS cruft
.DS_Store

# Node (if any)
**/node_modules/
